#header-title {
    text-align: center;
}

.article-card{
    background-color:  lightgray;
}

.article-poster{
    background-color: lightgray;
}

.comment-card {
    background-color: antiquewhite;
    padding: 20px;
    margin: 10px;
}